<form class="{{cssClass}}" autocomplete="off">
  <div class="charsheet">
    <section class="left-section">
      <div class="char-name"><h2><input name="name" type="text" value="{{actor.name}}" placeholder='Nombre' onClick="this.select();"/></h2></div>
      <table>
        <tr>
          <td>
            <label>{{localize "TINY.ui.focus"}}</label>
            <input type="checkbox" {{checked actor.system.focus}} name="system.focus">
          </td>
          <td>
            <div class="char-pic"><img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{name}}" alt='Imagen del Personaje'/></div>
          </td>
          <td>
            <label>{{localize "TINY.ui.defense"}}</label>
            <input type="checkbox" {{checked actor.system.defense}} name="system.defense">
          </td>
        </tr>
      </table>
      
      <a class="dice-roll">
        <div>
          <h1><label>{{localize "TINY.ui.roll"}}</label></h1>
        </div>
      </a>
      <div class="competence">
        <h2><label>{{localize "TINY.competence.weapon"}}</label></h2>
        <table>
          <tr>
            <td><label>{{localize "TINY.competence.light_melee"}}</label></td>
            <td>
              {{#if (eq actor.system.competences.lightmelee true)}}
                <a class="competence-toggle" data-competence="lightmelee"><i class="far fa-check-square"></i></a>
              {{else}}
                <a class="competence-toggle" data-competence="lightmelee"><i class="fa-regular fa-square"></i></a>
              {{/if}}
            </td>
            <td><label>{{localize "TINY.competence.heavy_melee"}}</label></td>
            <td>
              {{#if (eq actor.system.competences.heavymelee true)}}
                <a class="competence-toggle" data-competence="heavymelee"><i class="far fa-check-square"></i></a>
              {{else}}
                <a class="competence-toggle" data-competence="heavymelee"><i class="fa-regular fa-square"></i></a>
              {{/if}}
            </td>
            <td><label>{{localize "TINY.competence.light_ranged"}}</label></td>
            <td>
              {{#if (eq actor.system.competences.lightranged true)}}
                <a class="competence-toggle" data-competence="lightranged"><i class="far fa-check-square"></i></a>
              {{else}}
                <a class="competence-toggle" data-competence="lightranged"><i class="fa-regular fa-square"></i></a>
              {{/if}}
            </td>
            <td><label>{{localize "TINY.competence.heavy_ranged"}}</label></td>
            <td>
              {{#if (eq actor.system.competences.heavyranged true)}}
                <a class="competence-toggle" data-competence="heavyranged"><i class="far fa-check-square"></i></a>
              {{else}}
                <a class="competence-toggle" data-competence="heavyranged"><i class="fa-regular fa-square"></i></a>
              {{/if}}
            </td>
          </tr>
        </table>
      </div>
      <div class="dominated">
          <h2><label>{{localize "TINY.dominate.weapon"}}</label></h2>
          <input name="system.weapondominated" type="text" value="{{actor.system.weapondominated}}" placeholder='{{localize "TINY.dominate.weapon"}}' data-dtype="String"/>
      </div>
      <h2 class="resource">
        <table>
          <tr>
            <td>
              <label>{{localize "TINY.resources.hitpoints"}}</label>
            </td>
            <td style="width:20%;">
              <input class="resource_input" name="system.resources.hitpoints.max" type="number" maxlength="2" size="2" value="{{actor.system.resources.hitpoints.max}}" data-dtype="Number"/>
            </td>
          </tr>
        </table>
      </h2>
      <div class="resources">
          {{#times actor.system.resources.totalhitpoints.max}}
              <a class="resource-change" data-resource="totalhitpoints" data-number={{.}}>
                {{#if (gte . ../actor.system.resources.totalhitpoints.value)}}
                  <h2><i class="far fa-square"></i></h2>
                {{else}}
                  <h2><i class="fas fa-check-square"></i></h2>
                {{/if}}
              </a>
          {{/times}}
          
      </div>
    </section>
    
    <section class="right-section">
        <nav class="sheet-tabs tabs" data-group="primary">
          <a class="item" data-tab="general">{{localize "TINY.ui.tab.general"}}</a>
          <a class="item" data-tab="inventory">{{localize "TINY.ui.tab.inventory"}}</a>
          <a class="item" data-tab="bio">{{localize "TINY.ui.tab.notes"}}</a>
          
        </nav>
        {{!-- Item Sheet Body --}}
        <section class="sheet-body">
          {{!-- General Tab --}}
          <div class="tab general" data-group="primary" data-tab="general">
            {{> "/systems/tinyd6/templates/actors/parts/general.html"}}
          </div>
          {{!-- Notes Tab --}}
          <div class="tab bio" data-group="primary" data-tab="bio">
            {{editor actor.system.notes target="system.notes" button=true owner=owner editable=true}}
          </div>
          {{!-- Inventory Tab --}}
          <div class="tab inventory" data-group="primary" data-tab="inventory">
            {{> "/systems/tinyd6/templates/actors/parts/inventory.html"}}
          </div>
        </section>
    </section>
  </div>
</form>