<form class="{{cssClass}} tinyd6" autocomplete="off">
  <div class="charsheet">
    <section class="left-section">
      <div class="char-name"><h2><input name="name" type="text" value="{{actor.name}}" placeholder='Nombre' onClick="this.select();"/></h2></div>
      <table>
        <tr>
          <td>
            <label>{{localize "TINY.ui.focus"}}</label>
            <input type="checkbox" {{checked actor.system.focus}} name="system.focus">
          </td>
          <td>
            <div class="npc-pic"><img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{name}}" alt='Imagen del Personaje'/></div>
          </td>
          <td>
            <label>{{localize "TINY.ui.defense"}}</label>
            <input type="checkbox" {{checked actor.system.defense}} name="system.defense">
          </td>
        </tr>
      </table>
      <a class="dice-roll">
        <div>
          <h1><label>{{localize "TINY.ui.roll"}}</label></h1>
        </div>
      </a>
      <div class="competence">
        <label>{{localize "TINY.competence.weapon"}}</label>
        <table>
          <tr>
            <td><label>{{localize "TINY.competence.light_melee"}}</label></td>
            <td>
              <h2><input type="checkbox" {{checked actor.system.competences.lightmelee}} name="system.competences.lightmelee"></h2>
            </td>
            <td><label>{{localize "TINY.competence.heavy_melee"}}</label></td>
            <td>
              <input type="checkbox" {{checked actor.system.competences.heavymelee}} name="system.competences.heavymelee">
            </td>
            <td><label>{{localize "TINY.competence.light_ranged"}}</label></td>
            <td>
              <input type="checkbox" {{checked actor.system.competences.lightranged}} name="system.competences.lightranged">
            </td>
            <td><label>{{localize "TINY.competence.heavy_ranged"}}</label></td>
            <td>
              <input type="checkbox" {{checked actor.system.competences.heavyranged}} name="system.competences.heavyranged">
            </td>
          </tr>
        </table>
      </div>
      <div class="dominated">
          <label>{{localize "TINY.dominate.weapon"}}</label>
          <input name="system.weapondominated" type="text" value="{{actor.system.weapondominated}}" placeholder='{{localize "TINY.dominate.weapon"}}' data-dtype="String"/>
      </div>
        <table>
          <tr>
            <td>
              <label>{{localize "TINY.resources.hitpoints"}}</label>
            </td>
            <td style="width:20%;">
              <input class="resource_input" name="system.resources.hitpoints.max" type="number" maxlength="2" size="2" value="{{actor.system.resources.hitpoints.max}}" data-dtype="Number"/>
            </td>
          </tr>
        </table>
      <div class="resources">
          {{#times actor.system.resources.totalhitpoints.max}}
              <a class="resource-change" data-resource="totalhitpoints" data-number={{.}}>
                {{#if (gte . ../actor.system.resources.totalhitpoints.value)}}
                  <i class="far fa-square"></i>
                {{else}}
                  <i class="fas fa-check-square"></i>
                {{/if}}
              </a>
          {{/times}}
          
      </div>
      
    </section>
    <section class="right-section">
      <ul class="npctag">
        {{#if settings.enableRank}}
          <li><h1><a class="rank-change"><label>{{actor.system.rank}}</label></a></h1></li>
        {{/if}}
        <li><input name="system.traits" type="text" value="{{actor.system.traits}}" placeholder='{{localize "TRI.ui.tag"}}' data-dtype="String"/></li>
      </ul>
      <div>
        {{editor actor.system.notes target="system.notes" button=true owner=owner editable=true}}
      </div>
    </section>
  </div>
</form>