<form class="{{cssClass}} tinyd6" autocomplete="off">
    <div class="item-name">
        <table>
            <tr>
                <td>
                    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{name}}" alt='Imagen del Rasgo'/>
                </td>
                <td>
                    <h2><input name="name" type="text" value="{{item.name}}" placeholder='Trait' onClick="this.select();"/></h2>
                </td>
            </tr>
        </table>   
    </div>
    <div class="item-stats competence">
        <table>
            <tr>
                <td><label>{{localize "TINY.ui.type"}}&nbsp;</label></td>
                <td>
                    <select name="system.armortype" data-dtype="String">
                        {{#select item.system.armortype}}
                          <option value="light">{{localize "TINY.competence.light_full"}}</option>
                          <option value="medium">{{localize "TINY.competence.medium_full"}}</option>
                          <option value="heavy">{{localize "TINY.competence.heavy_full"}}</option>
                        {{/select}}
                    </select>
                </td>
                <td><label>{{localize "TINY.ui.value"}}&nbsp;</label></td>
                <td><input class="mod_input" name="system.extralife" type="number" maxlength="2" size="2" value="{{item.system.extralife}}" data-dtype="Number"/></td>
                <td><label>{{localize "TINY.ui.slots"}}&nbsp;</label></td>
                <td><input class="mod_input" name="system.slots" type="number" maxlength="2" size="2" value="{{item.system.slots}}" data-dtype="Number"/></td>
             </tr>
        </table>
    </div>
    <div class="desc">
        {{editor item.system.description target="system.description" button=true owner=owner editable=true}}
    </div>
</form>