<form class="{{cssClass}} tinyd6" autocomplete="off">
    <div class="item-name">
        <table>
            <tr>
                <td>
                    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{name}}" alt='Imagen del Rasgo'/>
                </td>
                <td>
                    <h2><input name="name" type="text" value="{{item.name}}" placeholder='Trait' onClick="this.select();"/></h2>
                </td>
            </tr>
        </table>   
    </div>
    <div class="item-stats competence">
        <table>
            <tr>
                <td><label>Archetype</label><input type="checkbox" {{checked item.system.archetype}} name="system.archetype"></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="desc">
        {{editor item.system.description target="system.description" button=true owner=owner editable=true}}
    </div>
</form>