<form class="{{cssClass}} tinyd6" autocomplete="off">
    <div class="item-name">
        <table>
            <tr>
                <td>
                    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{name}}" alt='Imagen del Rasgo'/>
                </td>
                <td>
                    <h2><input name="name" type="text" value="{{item.name}}" placeholder='Trait' onClick="this.select();"/></h2>
                </td>
            </tr>
        </table>   
    </div>
    <div class="item-stats competence">
        <table>
            <tr>
                <td><label>Weapon Type</label></td>
                <td>
                    <select name="system.weapontype" data-dtype="String">
                        {{#select item.system.weapontype}}
                          <option value="lightmelee">{{localize "TINY.competence.light_melee_full"}}</option>
                          <option value="heavymelee">{{localize "TINY.competence.heavy_melee_full"}}</option>
                          <option value="lightranged">{{localize "TINY.competence.light_ranged_full"}}</option>
                          <option value="heavyranged">{{localize "TINY.competence.heavy_ranged_full"}}</option>
                        {{/select}}
                    </select>
                </td>
                <td><label>{{localize "TINY.ui.damage"}}</label></td>
                <td><input class="mod_input" style="width:100%;" name="system.damage" type="string" maxlength="5" size="5" value="{{item.system.damage}}" data-dtype="String"/></td>
                <td><label>{{localize "TINY.ui.dominate"}}</label></td>
                <td><input type="checkbox" {{checked item.system.dominated}} name="system.dominated"></td>
            </tr>
            <tr>
                <td><label>{{localize "TINY.ui.slots"}}&nbsp;</label></td>
                <td><input class="mod_input" style="width: 50%;" name="system.slots" type="number" maxlength="2" size="2" value="{{item.system.slots}}" data-dtype="Number"/></td>
                <td><label>{{localize "TINY.ui.depletion"}}&nbsp;</label></td>
                <td><input class="mod_input" name="system.durability" type="number" maxlength="2" size="2" value="{{item.system.durability}}" data-dtype="Number"/></td>
            </tr>
        </table>
    </div>
    <div class="desc">
        {{editor item.system.description target="system.description" button=true owner=owner editable=true}}
    </div>
</form>