<table class="crew resource competence">
    <tr>
        <td>
            <input type="checkbox" {{checked actor.system.crew.captain.occupied}} name="system.crew.captain.occupied">
        </td>
        <td>
            <label>{{localize "TINY.crew.captain"}}</label>
        </td>
        <td>
            <input name="system.crew.captain.name" type="text" value="{{actor.system.crew.captain.name}}" placeholder='{{localize "TINY.ui.crewmember_name"}}' data-dtype="String"/>
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" {{checked actor.system.crew.quartermaster.occupied}} name="system.crew.quartermaster.occupied">
        </td>
        <td>
            <label>{{localize "TINY.crew.quartermaster"}}</label>
        </td>
        <td>
            <input name="system.crew.quartermaster.name" type="text" value="{{actor.system.crew.quartermaster.name}}" placeholder='{{localize "TINY.ui.crewmember_name"}}' data-dtype="String"/>
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" {{checked actor.system.crew.pilot.occupied}} name="system.crew.pilot.occupied">
        </td>
        <td>
            <label>{{localize "TINY.crew.pilot"}}</label>
        </td>
        <td>
            <input name="system.crew.pilot.name" type="text" value="{{actor.system.crew.pilot.name}}" placeholder='{{localize "TINY.ui.crewmember_name"}}' data-dtype="String"/>
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" {{checked actor.system.crew.boatswain.occupied}} name="system.crew.boatswain.occupied">
        </td>
        <td>
            <label>{{localize "TINY.crew.boatswain"}}</label>
        </td>
        <td>
            <input name="system.crew.boatswain.name" type="text" value="{{actor.system.crew.boatswain.name}}" placeholder='{{localize "TINY.ui.crewmember_name"}}' data-dtype="String"/>
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" {{checked actor.system.crew.gunner.occupied}} name="system.crew.gunner.occupied">
        </td>
        <td>
            <label>{{localize "TINY.crew.gunner"}}</label>
        </td>
        <td>
            <input name="system.crew.gunner.name" type="text" value="{{actor.system.crew.gunner.name}}" placeholder='{{localize "TINY.ui.crewmember_name"}}' data-dtype="String"/>
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" {{checked actor.system.crew.doctor.occupied}} name="system.crew.doctor.occupied">
        </td>
        <td>
            <label>{{localize "TINY.crew.doctor"}}</label>
        </td>
        <td>
            <input name="system.crew.doctor.name" type="text" value="{{actor.system.crew.doctor.name}}" placeholder='{{localize "TINY.ui.crewmember_name"}}' data-dtype="String"/>
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" {{checked actor.system.crew.crew1.occupied}} name="system.crew.crew1.occupied">
        </td>
        <td>
            <input name="system.crew.crew1.position" type="text" value="{{actor.system.crew.crew1.position}}" placeholder='{{localize "TINY.ui.position_name"}}' data-dtype="String"/>
        </td>
        <td>
            <input name="system.crew.crew1.name" type="text" value="{{actor.system.crew.crew1.name}}" placeholder='{{localize "TINY.ui.crewmember_name"}}' data-dtype="String"/>
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" {{checked actor.system.crew.crew2.occupied}} name="system.crew.crew2.occupied">
        </td>
        <td>
            <input name="system.crew.crew2.position" type="text" value="{{actor.system.crew.crew2.position}}" placeholder='{{localize "TINY.ui.position_name"}}' data-dtype="String"/>
        </td>
        <td>
            <input name="system.crew.crew2.name" type="text" value="{{actor.system.crew.crew2.name}}" placeholder='{{localize "TINY.ui.crewmember_name"}}' data-dtype="String"/>
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" {{checked actor.system.crew.crew3.occupied}} name="system.crew.crew3.occupied">
        </td>
        <td>
            <input name="system.crew.crew3.position" type="text" value="{{actor.system.crew.crew3.position}}" placeholder='{{localize "TINY.ui.position_name"}}' data-dtype="String"/>
        </td>
        <td>
            <input name="system.crew.crew3.name" type="text" value="{{actor.system.crew.crew3.name}}" placeholder='{{localize "TINY.ui.crewmember_name"}}' data-dtype="String"/>
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" {{checked actor.system.crew.crew4.occupied}} name="system.crew.crew4.occupied">
        </td>
        <td>
            <input name="system.crew.crew4.position" type="text" value="{{actor.system.crew.crew4.position}}" placeholder='{{localize "TINY.ui.position_name"}}' data-dtype="String"/>
        </td>
        <td>
            <input name="system.crew.crew4.name" type="text" value="{{actor.system.crew.crew4.name}}" placeholder='{{localize "TINY.ui.crewmember_name"}}' data-dtype="String"/>
        </td>
    </tr>
</table>